---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BlogEntry from "../../components/BlogEntry.astro";
import Layout from "../../layouts/Layout.astro";
import Results from "../../components/Results.astro";
import { getEntry } from "astro:content";

export async function getStaticPaths() {
    const blogEntries = await getCollection('posts');
    
    return blogEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;
const results = entry.data.results && await getEntry(entry.data.results);
---

<Layout title={entry.data.title}>
    <div class="prose p-10 mx-auto bg-slate-50 rounded-lg m-10">
        <BlogEntry entry={entry} />
        {results && <Results results={results} />}
    </div>
</Layout>