---
import Layout from '../layouts/Layout.astro';
import BlogList from '../components/BlogList.astro';
import Image from 'astro/components/Image.astro';
---

<Layout title="Welcome to My Astro Site.">
	 
	<main class="prose p-10">
		<BlogList />
	</main>
</Layout>
